.container {
  display: flex;
  margin: 50px auto;
  max-width: 1300px;
}

.tree-block {
  width: 35vw;
  height: 80vh;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  right: auto;
  display: flex;
  flex: 0.4 0 auto;
  outline: 0;
  overflow: auto;
  padding: 10px;
}

.employee-details {
  padding: 24px;
  flex-grow: 1;
  border: 1px solid red;
}