.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 14px 0;
  text-align: center;
  background-color: deepskyblue;
  color: whitesmoke;
  margin: 0;
  font-family: cursive;
}

.container {
  display: flex;
  margin: 70px auto;
  max-width: 1300px;
}

.tree-block {
  width: 35vw;
  height: 70vh;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  right: auto;
  display: flex;
  flex: 0.4 0 auto;
  outline: 0;
  overflow: auto;
  padding: 10px;
}

.node-details-action {
  padding: 24px;
  flex-grow: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.MuiFormControl-root {
  margin: 7px !important;
}